{% extends 'layout/base.html' %}

{% block body %}
<h1>Computer Vision Mapping for Parking Space Counter 🚦 </h1>
<h2>Major Project</h2>
{% endblock %}
{% block css %}
<style>
  main{
    display: flex;
    width: 100vw;
    height: 90vh;
    background-color: rgb(113, 203, 111);
    background-image: url(https://images.pexels.com/photos/933588/pexels-photo-933588.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position:bottom ;
    background-repeat:no-repeat;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  h1{color: rgb(255, 242, 0);
  }
  h2{color: rgb(255, 242, 0);
  }
</style>
{% endblock %}
