{% extends 'layout/base.html' %}   <!-- fextend -->

{% block body %}     <!-- fblock-->
<div class="container"> <!---.container>.row>.col-->
    <div class="row form-row">
        <div class="col-lg-4">
            <h1 class="my-5">Register An Account</h1>
            {% if error_list %}
            {% for msg in error_list %}
            <p class="text-danger text-small">
                {{ msg|e }}
            </p>
            {% endfor %}
            {% endif %}
            <form class="shadow-lg p-3 rounded bg-light", method="POST">
                <div class="mb-3">
                  <label for="email1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                  </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                  <div class="form-text text-danger" id="passHelp">Password should be min 6 character</div>
                </div>

                <div class="mb-3">
                    <label for="confirmPass" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPass" name="confirmpass">
                  </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
{% endblock %}
{% block css %}
<style >
.form-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
main{
  background-image: url('https://images.pexels.com/photos/4744827/pexels-photo-4744827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1{
  color: rgb(13, 61, 115);
}
</style> 
{% endblock %}
<!-- fblock-->